/* - - - RESETS/DEFAULTS - - - */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #000;
    font-family: "Rubik", sans-serif;
}

/* - - - NAVBAR - - - */
#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1.2rem;
    background-color: #FFF;
    box-shadow: 0 1px 5px 0 #000;
    z-index: 10; /* Makes sure the navbar is on top of all other content */
}

.navbar-links{
    width: 100%;
    display: none;
}

.navbar-links ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    text-align: center;
}

.navbar-logo a, .navbar-links a{
    margin: 0.5rem 1.5rem; /* First value determines space between links and navbar vertical edge -> Second value determines space between links themselves */
    padding: 0.5rem; /* Determines space between text of the links and its clickable border */
    display: block;
    text-decoration: none;
    color: #000;
    transition: 0.3s ease-in-out;
}

.navbar-logo a:hover, .navbar-links a:hover{
    color: #FF1616;
}

.navbar-links.active{
    display: flex;
}

.menu-button{
    width: 22px;
    height: 15px;
    position: absolute;
    top: 1.25rem;
    right: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu-button .bar{
    width: 100%;
    height: 3px;
    background-color: #000;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.menu-button:hover .bar{
    background-color: #FF1616;
}

/* Large Screens */
@media (min-width: 700px){
    #navbar{
        flex-direction: row;
        align-items: center;
    }

    .navbar-links{
        width: auto;
        display: flex;
    }

    .navbar-links ul{
        flex-direction: row;
    }

    .menu-button{
        display: none;
    }
}

/* - - - HOME SECTION - - - */
#home-section{
    width: 100%;
    height: 100vh;
    position: relative; /* Makes sure overlapping content can be done by setting position as relative */
    background-image: url(/media/image-1.JPG);
    background-size: cover;
}

.home-section-overlay{
    position: absolute; /* Makes sure the overlay is positioned relative to the home-section element */
    top: 0; /* Makes sure the overlay is 0 from the top of the home-section */
    bottom: 0; /* Makes sure the overlay is 0 from the bottom of the home-section */
    left: 0; /* Makes sure the overlay is 0 from the left of the home-section */
    right: 0; /* Makes sure the overlay is 0 from the right of the home-section */
    background-color: #000;
    opacity: 0.2;
}

.home-section-content{
    padding-top: 4rem; /* Makes sure content is pushed down to prevent the navbar from overlapping it */
    position: absolute; /* Makes sure the content is positioned relative to the home-section element */
    top: 0; /* Makes sure the content is 0 from the top of the home-section */
    bottom: 0; /* Makes sure the content is 0 from the bottom of the home-section */
    left: 0; /* Makes sure the content is 0 from the left of the home-section */
    right: 0; /* Makes sure the content is 0 from the right of the home-section */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.home-section-titles{
    width: 100%;
    color: #FFF;
    text-align: center;
}

.home-section-titles h1{
    font-size: 3rem;
}

.home-section-titles h2{
    font-size: 1.5rem;
}

.home-section-titles a{
    width: 50%;
    margin: 1.5rem auto 0 auto; /* Determines the space between the button and h1/h2 text above it */
    padding: 1rem; /* Determines the space between the text inside the button and its clicable area */
    display: block; /* Makes the button a block element rather than being an inline element */
    text-decoration: none;
    color: #FFF;
    background-color: #FF1616;
    font-size: 1.2rem;
    border-radius: 2rem;
    transition: 0.3s ease-in-out;
}

.home-section-titles a:hover{
    background-color: #FFBD59;
}

.home-section-memoji{
    width: 60%;
}

.home-section-memoji img{
    width: 100%;
    object-fit: cover;
}

/* Landscape Phones */
@media (min-width: 600px){
    .home-section-content{
        flex-direction: row;
    }

    .home-section-titles{
        width: 50%;
    }

    .home-section-memoji{
        width: 35%;
    }
}

/* Medium Screens */
@media (min-width: 1000px){
    .home-section-content{
        flex-direction: row;
    }

    .home-section-titles h1{
        font-size: 5rem;
    }

    .home-section-titles h2{
        font-size: 2rem;
    }

    .home-section-titles a{
        font-size: 1.5rem;
    }
}

/* Large Screens */
@media (min-width: 1350px){
    .home-section-titles h1{
        font-size: 6rem;
    }

    .home-section-titles h2{
        font-size: 3rem;
    }

    .home-section-titles a{
        font-size: 2rem;
    }
}

/* - - - ABOUT SECTION - - - */
#about-section{
    width: 100%; /* Makes sure text and other content doesn't touch the sides of the viewport */
    padding: 4rem 2rem; /* First value makes sure content is pushed down to prevent the navbar from overlapping it and second value makes sure content doesn't touch the sides of the screen */
    background-color: #FFBD59;
    text-align: center;
}

#about-section h2{
    font-size: 3rem;
}

.introduction, .my-background, .places-been{
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.introduction-text, .my-background-text, .places-been-text{
    width: 100%;
}

.introduction-text h3, .my-background-text h3, .places-been-text h3{
    margin: 1rem 0;
    font-size: 2rem;
}

.introduction-text p, .my-background-text p, .places-been-text p{
    margin: 1rem 0;
    font-size: 1.2rem;
}

.introduction-image, .my-background-image{
    width: 100%;
    margin: 1rem 0;
}

.introduction-image img, .my-background-image img{
    width: 100%;
    object-fit: cover;
    box-shadow: 0 1px 5px 0 #000;
}

.slideshow-container{
    width: 100%; /* Makes sure the fixed width doesn't change with photos of different aspect ratios  */
    height: 15rem; /* Makes sure the fixed height doesn't change with photos of different aspect ratios */
    margin: 1rem auto;
    position: relative; /* Allows the prev and next buttons can be placed on top of the container */
    border: 0.2rem solid #000;
    background-color: #FFF;
}

.slide{
    width: 100%; /* Makes sure the width of the slides fill the container */
    height: 100%; /* Makes sure the height of the slides fill the container */
    display: none; /* Setting display as none by default and using JS to display a specific slide */
}

.slide img{
    width: 100%; /* Makes sure the width of the image fills the slide */
    height: 85%; /* Makes sure the height of the image goes down to 90% of the slide */
    object-fit: cover; /* Maintains the fixed width and height of the container by cropping where necessary */
}

.slide div{
    width: 100%; /* Makes sure the width of the caption fills the slide */
    height: 1rem; /* Makes sure the height of the caption fills the remaining space of the slide */
    padding-top: 0.2rem;
    font-size: 1.2rem;
    background-color: #FFF;
}

.prev-button{
    width: 2rem;
    position: absolute;
    top: 40%;
    left: 0;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #FFF;
    background-color: #000;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}

.next-button{
    width: 2rem;
    position: absolute;
    top: 40%;
    right: 0;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #FFF;
    background-color: #000;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}

.prev-button:hover, .next-button:hover{
    opacity: 1;
    background-color: #FF1616;
}

.slideshow-indicator{
    width: 100%;
    margin: 1rem auto;
}

.indicator-button{
    width: 1rem;
    height: 1rem;
    margin: 0.2rem;
    display: inline-block;
    cursor: pointer;
    background-color: #FFF;
    border: 0.1rem solid #000;
    border-radius: 2rem;
    transition: 0.3s ease-in-out;
}

.indicator-button.active, .indicator-button:hover{
    background-color: #FF1616;
}

/* Landscape Phones */
@media (min-width: 600px){
    #about-section{
        padding: 4rem 6rem;
    }

    .introduction-image, .my-background-image{
        width: 75%;
    }

    .slideshow-container{
        width: 90%;
        height: 20rem;
    }

    .slide div{
        padding-top: 0.5rem;
    }
}

/* Medium Screens */
@media (min-width: 1000px){
    #about-section{
        padding: 4rem 10rem;
    }

    .slideshow-container{
        width: 100%;
        height: 30rem;
    }

    .slide img{
        height: 90%;
    }

    .slide div{
        padding-top: 0.5rem;
    }

    .prev-button{
        width: 2.5rem;
        top: 45%;
        font-size: 2rem;
    }

    .next-button{
        width: 2.5rem;
        top: 45%;
        font-size: 2rem;
    }
}

/* Large Screens */
@media (min-width: 1200px){
    #about-section{
        padding: 4rem 2rem;
    }

    .introduction, .my-background{
        flex-direction: row;
    }

    .introduction-text, .my-background-text{
        width: 50%;
    }

    .introduction-image, .my-background-image{
        width: 35%;
    }

    .slideshow-container{
        width: 60%;
        height: 35rem;
    }

    .slide div{
        padding-top: 0.7rem;
    }
}