/* - - - RESET/DEFAULT STYLING - - - */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #000;
    font-family: "Rubik", sans-serif;
}

/* - - - STYLING AND MEDIA QUERIES FOR THE NAVBAR - - - */
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1.2rem;
    background-color: #FFF;
    box-shadow: 0 1px 5px 0 #000;
    z-index: 10; /* Makes sure the navbar is on top of all other content */
}

.navbar-links{
    width: 100%;
    display: none;
}

.navbar-links ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    text-align: center;
}

.navbar-logo a, .navbar-links a{
    margin: 0.5rem 1.5rem; /* First value determines space between links and navbar vertical edge -> Second value determines space between links themselves */
    padding: 0.5rem; /* Determines space between text of the links and its clickable border */
    display: block;
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease-in-out;
}

.navbar-logo a:hover, .navbar-links a:hover{
    color: #FF1616;
}

.navbar-links.active{
    display: flex;
}

.menu-button{
    width: 22px;
    height: 15px;
    position: absolute;
    top: 1.25rem;
    right: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-button .bar{
    width: 100%;
    height: 3px;
    background-color: #000;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.menu-button:hover .bar{
    background-color: #FF1616;
}

/* Media queries for larger screens */
@media (min-width: 600px){
    .navbar{
        flex-direction: row;
        align-items: center;
    }

    .navbar-links{
        width: auto;
        display: flex;
    }

    .navbar-links ul{
        flex-direction: row;
    }

    .menu-button{
        display: none;
    }
}

/* - - - STYLING AND MEDIA QUERIES FOR THE HOME SECTION - - - */
.home-section{
    width: 100%;
    height: 100vh;
    position: relative; /* Makes sure overlapping content can be done by setting position as relative */
    background-image: url(/media/image-1.JPG);
    background-size: cover;
}

.home-section-overlay{
    position: absolute; /* Makes sure the overlay is positioned relative to the home-section element */
    top: 0; /* Makes sure the overlay is 0 from the top of the home-section */
    bottom: 0; /* Makes sure the overlay is 0 from the bottom of the home-section */
    left: 0; /* Makes sure the overlay is 0 from the left of the home-section */
    right: 0; /* Makes sure the overlay is 0 from the right of the home-section */
    background-color: #000;
    opacity: 0.2;
    animation: overlay-fade-in 2s;
}

/* Fade in animation on page load for the overlay */
@keyframes overlay-fade-in{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.2;
    }
}

