/* - - - RESETS/DEFAULTS - - - */
*{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #000;
    font-family: "Rubik", sans-serif;
    text-align: center;
}

img{
    object-fit: cover;
}

/* - - - NAVBAR - - - */
#navbar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1.2rem;
    background-color: #FFF;
    box-shadow: 0 1px 5px 0 #000;
    z-index: 10; /* Makes sure the navbar is on top of all other content */
}

.navbar-logo{
    width: auto;
}

.navbar-links{
    display: none;
}

.navbar-links ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}

.navbar-logo a, .navbar-links a{
    margin: 0.5rem 0; /* First value determines space between links and navbar vertical edge -> Second value determines space between links themselves */
    padding: 0.5rem; /* Determines space between text of the links and its clickable border */
    display: block;
    text-decoration: none;
    color: #000;
    transition: 0.3s ease-in-out;
}

.navbar-logo a{
    width: auto;
    margin: 0.5rem;
}

.navbar-logo a:hover, .navbar-links a:hover{
    color: #FF1616;
}

.navbar-links.active{
    display: flex;
}

.menu-button{
    width: 22px;
    height: 15px;
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu-button .bar{
    height: 3px;
    background-color: #000;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.menu-button:hover .bar{
    background-color: #FF1616;
}

@media (min-width: 1000px){
    #navbar{
        flex-direction: row;
        align-items: center;
    }

    .navbar-links{
        width: auto;
        display: flex;
    }

    .navbar-links ul{
        flex-direction: row;
    }

    .navbar-links a{
        width: auto;
        margin: 0.5rem 1rem;
    }

    .menu-button{
        display: none;
    }
}

/* - - - HOME SECTION - - - */
#home-section{
    height: 100vh;
    position: relative; /* Makes sure overlapping content can be done by setting position as relative */
    background-image: url(/resources/images/image-1.JPG);
    background-size: cover;
}

.home-section-overlay{
    position: absolute; /* Makes sure the overlay is positioned relative to the home-section element */
    top: 0; /* Makes sure the overlay is 0 from the top of the home-section */
    bottom: 0; /* Makes sure the overlay is 0 from the bottom of the home-section */
    left: 0; /* Makes sure the overlay is 0 from the left of the home-section */
    right: 0; /* Makes sure the overlay is 0 from the right of the home-section */
    background-color: #000;
    opacity: 0.2;
}

.home-section-content{
    padding-top: 4rem; /* Makes sure content is pushed down to prevent the navbar from overlapping it */
    position: absolute; /* Makes sure the content is positioned relative to the home-section element */
    top: 0; /* Makes sure the content is 0 from the top of the home-section */
    bottom: 0; /* Makes sure the content is 0 from the bottom of the home-section */
    left: 0; /* Makes sure the content is 0 from the left of the home-section */
    right: 0; /* Makes sure the content is 0 from the right of the home-section */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.home-section-titles{
    color: #FFF;
}

.home-section-titles h1{
    font-size: 3rem;
}

.home-section-titles h2{
    font-size: 1.5rem;
}

.home-section-titles a{
    width: 50%;
    margin: 1.5rem auto; /* Determines the space between the button and h1/h2 text above it */
    padding: 1rem; /* Determines the space between the text inside the button and its clicable area */
    display: block; /* Makes the button a block element rather than being an inline element */
    text-decoration: none;
    color: #FFF;
    background-color: #FF1616;
    font-size: 1.2rem;
    border-radius: 2rem;
    transition: 0.3s ease-in-out;
}

.home-section-titles a:hover{
    background-color: #FFBF69;
}

.home-section-memoji{
    width: 60%;
}

@media (min-width: 650px){
    .home-section-content{
        flex-direction: row;
    }

    .home-section-titles{
        width: 50%;
    }

    .home-section-memoji{
        width: 35%;
    }
}

@media (min-width: 1000px){
    .home-section-titles h1{
        font-size: 5rem;
    }

    .home-section-titles h2{
        font-size: 2rem;
    }

    .home-section-titles a{
        font-size: 1.5rem;
    }
}

@media (min-width: 1250px){
    .home-section-titles h1{
        font-size: 6rem;
    }

    .home-section-titles h2{
        font-size: 3rem;
    }

    .home-section-titles a{
        font-size: 2rem;
    }
}

/* ABOUT SECTION */
#about-section{
    padding: 4rem 2rem 2rem 2rem; /* Makes sure content isn't covered by navbar and isn't contacting the sides */
    background-color: #FFBF69;
}

.about-section-title{
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.introduction, .my-background, .places-been{
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.introduction-text h3, .my-background-text h3, .places-been-text h3{
    margin-bottom: 1rem;
    font-size: 2rem;
}

.introduction-text p, .my-background-text p, .places-been-text p{
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.introduction-image img, .my-background-image img{
    box-shadow: 0 0.2rem 0.5rem 0 #000;
}

.places-been-slideshow{
    margin-bottom: 1rem;
    height: 15rem;
    position: relative;
    border: 0.2rem solid #000;
    background-color: #FFF;
}

.slide{
    height: 100%;
    display: none;
}

.slide img{
    height: 85%;
}

.slide div{
    height: 1rem;
    padding-top: 0.2rem;
    font-size: 1.2rem;
}

.prev-button, .next-button{
    width: 2.5rem;
    position: absolute;
    top: 40%;
    font-size: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #FFF;
    background-color: #000;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}

.prev-button{
    left: 0;
}

.next-button{
    right: 0;
}

.prev-button:hover, .next-button:hover{
    opacity: 1;
    background-color: #FF1616;
}

.indicator-button{
    width: 1rem;
    height: 1rem;
    margin: 0.2rem;
    display: inline-block;
    cursor: pointer;
    background-color: #FFF;
    border: 0.1rem solid #000;
    border-radius: 2rem;
    transition: 0.3s ease-in-out;
}

.indicator-button.active, .indicator-button:hover{
    background-color: #FF1616;
}

@media (min-width: 650px){
    #about-section{
        padding: 4rem 5rem 2rem 5rem;
    }

    .introduction-image, .my-background-image{
        width: 70%;
    }

    .places-been-slideshow{
        height: 25rem;
    }

    .slide img{
        height: 90%;
    }
}

@media (min-width: 1000px){
    #about-section{
        padding: 4rem 10rem 2rem 10rem;
    }

    .places-been-slideshow{
        height: 30rem;
    }

    .slide div{
        padding-top: 0.5rem;
    }
}

@media (min-width: 1250px){
    #about-section{
        padding: 4rem 2rem 0.1rem 2rem;
    }

    .introduction, .my-background, .places-been{
        margin-bottom: 5rem;
    }

    .introduction, .my-background{
        flex-direction: row;
    }

    .introduction-text, .my-background-text{
        width: 50%;
    }

    .introduction-text p, .my-background-text p{
        margin-bottom: 0;
    }

    .introduction-image, .my-background-image{
        width: 35%;
    }

    .places-been-slideshow{
        width: 65%;
        height: 35rem;
    }

    .slide div{
        padding-top: 0.6rem;
    }
}

/* - - - PORTFOLIO SECTION - - - */
#portfolio-section{
    padding: 4rem 2rem 2rem 2rem; /* Makes sure content isn't covered by navbar and isn't contacting the sides */
    background-color: #C0F0F7;
}

.portfolio-section-title{
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.skills, .projects, .certificates{
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.skills-text h3, .projects-text h3, .certificates-text h3{
    margin-bottom: 1rem;
    font-size: 2rem;
}

.skills-text p, .projects-text p, .certificates p{
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.skills-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.language{
    width: 50%;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.language img{
    width: 6rem;
    transition: 0.3s ease-in-out;
}

.language img:hover{
    width: 7rem;
}

.project{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.project-description h4{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.project-description p{
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.project-description div{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.project-description img{
    width: 20%;
}

.project-preview img{
    margin-bottom: 1rem;
    box-shadow: 0 0.2rem 0.5rem 0 #000;
}

.project-preview a{
    width: 40%;
    margin: 0 0.8rem;
    padding: 0.5rem;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    background-color: #FF1616;
    font-size: 1.2rem;
    border-radius: 2rem;
    transition: 0.3s ease-in-out;
}

.project-preview a:hover{
    background-color: #FFC300;
}

.certificates-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.certificates-container a{
    margin: 1rem auto;
    box-shadow: 0 0.2rem 0.5rem 0 #000;
    transition: 0.3s ease-in-out;
}

.certificates-container a:hover{
    box-shadow: 0 0.2rem 0.5rem 0 #FFC300;
}

@media (min-width: 650px){
    #portfolio-section{
        padding: 4rem 5rem 2rem 5rem;
    }

    .language{
        width: 25%;
    }

    .project-description div{
        width: 80%;
        margin: 0 auto 2rem auto;
    }
}

@media (min-width: 1000px){
    #potfolio-section{
        padding: 4rem 10rem 2rem 10rem;
    }

    .skills-container{
        width: 80%;
    }

    .project{
        margin-bottom: 2.5rem;
    }

    .project-description div{
        width: 60%;
        margin: 0 auto 2rem auto;
    }

    .project-description img{
        width: 15%;
    }

    .certificates-container{
        width: 70%;
    }
}

@media (min-width: 1250px){
    #portfolio-section{
        padding: 4rem 2rem 0.1rem 2rem;
    }

    .skills, .projects{
        margin-bottom: 5rem;
    }

    .skills-container{
        width: 50%;
    }

    .project{
        margin-bottom: 3rem;
        flex-direction: row;
    }

    .project-description{
        width: 50%;
    }

    .project-description div{
        width: 70%;
        margin: 0 auto 0 auto;
    }

    .project-description img{
        width: 15%;
    }

    .project-preview{
        width: 40%;
    }

    .certificates-container{
        width: 100%;
        flex-direction: row;
    }

    .certificates-container a{
        margin: 0 2rem 2rem 2rem;
    }
}

/* - - - CONTACT SECTION - - - */
#contact-section{
    padding: 4rem 2rem 4rem 2rem;
    background-color: #E0F19C;
}

.contact-section-title h2{
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.contact-section-title p{
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.accounts-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.account{
    width: 50%;
    height: 6.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*border: 0.1rem solid black;*/
}

.account a{
    width: 5rem;
    transition: 0.3s ease-in-out;
}

.account a:hover{
    width: 6rem;
}

@media (min-width: 650px){
    .accounts-container{
        width: 100%;
    }

    .account{
        width: 25%;
    }
}

@media (min-width: 1000px){
    .accounts-container{
        width: 80%;
    }

    .account{
        width: 20%;
    }
}

@media (min-width: 1250px){
    .account{
        height: 8rem;
    }

    .account a{
        width: 6rem;
    }

    .account a:hover{
        width: 7rem;
    }
}